body {
  margin:0;
  padding:0;
  width: 100%;
  height: 100vh;
}

#globekit-container {
  margin:0;
  padding:0;
  width: 100%;
  height: 100vh;
  position: relative;
}

#globekit-canvas {
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
  background: url('../assets/stars2.jpg') center no-repeat;
  background-size: cover;
}

#globekit-title {
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 888888888;
  font-size: 100px;
  color: #fff;
  letter-spacing: 22px;
}

#callout-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /*pointer-events: all!important;*/
}